table {
    width: 60%;
    background-color: transparent;
    margin: 0 auto;
    display: table;
    text-align: center;
}

.mat-header-cell {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
